.cell {
    display: flex;
    justify-content: center;
    align-items: middle;
    line-height: 1.5em;
    padding: 0.1em;
    width: 2em;
    height: 2em;
}

.row {
    display: flex;
    justify-content: center;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
